.title {
  text-align: center;
  font-size: 2.25rem;
  font-weight: bold;
  color: white;
  margin-top: 1rem;
  margin-bottom: 2rem;
  @media (min-width: 768px) {
    margin-bottom: 3rem;
  }
}

.tags {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.projects {
  list-style: none;
  padding-inline-start: 0px;
  display: grid;
  grid-gap: 2rem;
  @media (min-width: 768px) {
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
  }
}
