.section {
  @media (min-width: 1024px) {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

.container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  @media (min-width: 640px) {
    grid-template-columns: repeat(12, 1fr);
  }
}

.principal_motion {
  grid-column: span 8;
  place-self: center;
  text-align: center;
  justify-self: start;
  @media (min-width: 640px) {
    text-align: left;
  }
}
