.section {
  @media (min-width: 1024px) {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

.container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  @media (min-width: 640px) {
    grid-template-columns: repeat(12, 1fr);
  }
}

.principal_motion {
  grid-column: span 8;
  place-self: center;
  text-align: center;
  justify-self: start;
  @media (min-width: 640px) {
    text-align: left;
  }
}

.title_container {
  color: white;
  margin-bottom: 1rem;
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: 800;
  @media (min-width: 640px) {
    font-size: 3rem;
    line-height: normal;
  }
  @media (min-width: 1024px) {
    font-size: 4rem;
    line-height: normal;
  }
}

.greatting {
  $color-primary-400: #38b2ac;
  $color-secondary-600: #805ad5;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  position: relative;
  background-image: linear-gradient(
    to right,
    $color-primary-400,
    $color-secondary-600
  );
}

.text_container {
  width: auto;
  color: #adb7be;
  font-size: 1rem;
  margin-bottom: 1.5rem;
  @media (min-width: 640px) {
    width: 22rem;
    font-size: 1.125rem;
  }
  @media (min-width: 1024px) {
    width: 33rem;
    font-size: 1.15rem;
  }
}

.contact_button {
  padding: 0.75rem 1.5rem;
  display: inline-block;
  width: auto;
  margin-right: 1rem;
  border-radius: 9999px;
  color: white;
  background-image: linear-gradient(to bottom right, #667eea, #764ba2);
  &:hover {
    background-color: #e2e8f0;
  }
  @media (min-width: 640px) {
    width: auto;
  }
}

.cv_button {
  padding: 0.25rem 0.5rem;
  display: inline-block;
  width: auto;
  border-radius: 9999px;
  color: white;
  background-image: linear-gradient(to bottom right, #667eea, #764ba2);
  margin-top: 0.75rem;
  &:hover {
    background-color: #1f2937;
  }
  @media (min-width: 640px) {
    width: auto;
  }
}

.cv_text {
  display: block;
  background-color: #121212;
  &:hover {
    background-color: #1f2937;
  }
  border-radius: 9999px;
  padding: 0.5rem 1.25rem;
}

.motion_image {
  grid-column: span 4;
  place-self: center;
  margin-top: 1rem;

  @media (min-width: 1024px) {
    margin-top: 0;
  }
}

.circle_img {
  border-radius: 9999px;
  background-color: #181818;
  width: 250px;
  height: 250px;
  position: relative;

  @media (min-width: 1024px) {
    width: 400px;
    height: 400px;
  }
}

.logo {
  position: absolute;
  transform: translateX(-50%) translateY(-50%);
  top: 50%;
  left: 50%;
  height: 180px;
  @media (min-width: 640px) {
    height: 200px;
  }
  @media (min-width: 1024px) {
    height: 300px;
  }
}
