.btn {
  cursor: pointer;
  background-color: transparent;
  background-image: none;
  text-transform: none;
  border: none;
}

.name {
  margin-right: 0.75rem;
  font-weight: 600;
  &:hover {
    color: white;
  }
}
.textWhite {
  color: white;
}

.textADB7BE {
  color: #adb7be;
}

.motion {
  height: 0.25rem;
  background: linear-gradient(to right, #38b2ac, #805ad5);
  margin-top: 0.5rem;
  margin-right: 1rem;
}
