.name {
  margin-right: 1rem;
  font-weight: 600;
  &:hover {
    color: white;
  }
}
.textWhite {
  color: white;
}

.textADB7BE {
  color: #adb7be;
}

.motion {
  height: 1px;
  //background-color: #primary-500;
  margin-top: 0.5rem;
  margin-right: 1rem;
}
